*{
 margin: 0;
 padding: 0;
}

html, body {
 height: 100%;
}

#container{
 min-height: 100%;
}

#main {
 overflow: auto;
 padding-bottom: 100px;
}
footer
{
 background-color: #6F8FAF;
 position: relative;
 height: 100px;
 margin-top: 0px;
 clear: both;
}
.nav-left{
    background: #000;
    width: 5%;
    height: 85%;
    text-align: center;
    display: inline-block;
}

.nav-left a{
    display: block;
    background-color: #D3D3D3;
    padding: 20px 7px;
}
.bodywrapper {

    display: flex;
}
.semibodywrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headwrapper{
    background-color: #696969;
}
.semiheadwrapper {
    display: flex;
}
.imagewrapper{
    padding: 10px;
}
.textwrapper {
    color: white;
}
.semitextwrapper {
    font-size: small;
}
.secsemitextwrapper{
    font-size: small;
}
.maintextwrapper {
    
}